
/* $Id: main.css 7533 2010-10-02 09:42:49Z john $ */


@include "~/application/modules/Core/externals/styles/constants.css";



/*
VIEW MESSAGES
Used to list members' messages in their inbox
and outbox.
*/
.messages_list > ul > li
{
  +foreground;
  clear: both;
  overflow: hidden;
  padding: 10px;
}
.messages_list > ul > li + li
{
  margin-top: 1px;
}
.messages_list > ul > li.messages_list_new *
{
  font-weight: bold;
}
.messages_list .messages_list_checkbox
{
  float: left;
  overflow: hidden;
}
html[dir="rtl"] .messages_list .messages_list_checkbox
{
  float: right;
}
.messages_list .messages_list_photo
{
  float: left;
  overflow: hidden;
  padding-left: 5px;
}
html[dir="rtl"] .messages_list .messages_list_photo
{
  float: right;
  padding-left: 0px;
  padding-right: 5px;
}
.messages_list .messages_list_photo img
{
  display: block;
}
.messages_list .messages_list_from
{
  float: left;
  overflow: hidden;
  padding-left: 10px;
  width: 170px;
}
html[dir="rtl"] .messages_list .messages_list_from
{
  float: right;
  padding-left: 0px;
  padding-right: 10px;
}
.messages_list .messages_list_from > .messages_list_from_date
{
  font-size: .8em;
  color: $theme_font_color_light;
  text-transform: lowercase;
  margin-top: 5px;
}
.messages_list .messages_list_info
{
  overflow: hidden;
}
.messages_list .messages_list_info > .messages_list_info_body
{
  font-size: .8em;
  margin-top: 5px;
  padding-left: 1px;
}
html[dir="rtl"] .messages_list .messages_list_info > .messages_list_info_body
{
  padding-right: 1px;
}


/*
VIEW MESSAGE
Styles the view message thread page.
*/
.message_view_between
{
  margin-top: 4px;
  margin-bottom: 10px;
}
ul.message_view > li
{
  clear: both;
  overflow: hidden;
  border-top-width: 1px;
  padding: 10px 0px 10px 0px;
}
ul.message_view .message_view_leftwrapper
{
  float: left;
}
html[dir="rtl"] ul.message_view .message_view_leftwrapper
{
  float: right;
}
ul.message_view .message_view_photo
{
  float: left;
  overflow: hidden;
  width: 70px;
}
html[dir="rtl"] ul.message_view .message_view_photo
{
  float: right;
}
ul.message_view .message_view_photo img
{
  display: block;
}
ul.message_view .message_view_from
{
  width: 150px;
  float: left;
  overflow: hidden;
  text-align: right;
  padding-right: 15px;
  font-weight: bold;
}
html[dir="rtl"] ul.message_view .message_view_from
{
  float: right;
  text-align: left;
  padding-right: 0px;
  padding-left: 15px;
}
ul.message_view .message_view_from .small
{
  font-weight: normal;
}
ul.message_view .message_view_info
{
  overflow: hidden;
}
ul.message_view .message_view_reply
{
  clear: both;
  overflow: hidden;
  padding-top: 5px;
}
ul.message_view .message_view_info .buttons
{
  margin-top: 10px;
}
ul.message_view .message_view_info textarea
{
  width: 400px;
  height: 100px;
}
ul.message_view .message_view_date
{
  font-size: .8em;
  color: $theme_font_color_light;
  font-weight: normal;
}
ul.message_view .message_attachment
{
  overflow: hidden;
  margin: 10px;
  padding-left: 22px;
  background-image: url(~/application/modules/Messages/externals/images/attachment.png);
  background-repeat: no-repeat;
}
html[dir="rtl"] ul.message_view .message_attachment
{
  padding-left: 0px;
  padding-right: 22px;
  background-position: top right;
}
ul.message_view .message_attachment_photo
{
  float: left;
  overflow: hidden;
  margin-right: 7px;
}
html[dir="rtl"] ul.message_view .message_attachment_photo
{
  float: right;
  margin-right: 0px;
  margin-left: 7px;
}
ul.message_view .message_attachment_info
{
  overflow: hidden;
}
ul.message_view .message_attachment_title
{
  font-size: .8em;
  font-weight: bold;
  margin-bottom: 2px;
}
ul.message_view .message_attachment_desc
{
  font-size: .8em;
}





/*
REPLY FORM
Shown on view mesage page.
*/
#messages_form_reply > div
{
  width: 400px;
}
#messages_form_reply .form-label
{
  display: none;
}
#messages_form_reply #submit-element
{
  overflow: visible;
  margin: 0px;
}
#messages_form_reply #body-element
{
  width: 100%;
}
#messages_form_reply .compose-container,
#messages_form_reply .compose-content
{
  width: 98%;
}
#messages_form_reply #compose-menu
{
  margin-top: 10px;
}
#messages_form_reply #compose-menu a
{
  font-size: .8em;
  padding-top: 1px;
  padding-bottom: 2px;
  margin-right: 10px;
}
html[dir="rtl"] #messages_form_reply #compose-menu a
{
  margin-right: 0px;
  margin-left: 10px;
}
#messages_form_reply .compose-menu
{
  margin-top: 0px;
}
#messages_form_reply .compose-body
{
  overflow: visible;
}
#messages_form_reply #submit-element
{
  float: none;
  overflow: hidden;
}


/*
COMPOSE MESSAGE FORM
*/
#messages_compose #submit-element
{
  float: none;
  overflow: hidden;
}
#messages_compose .compose-content
{
  width: 400px;
  min-height: 4em;
}
#messages_compose #compose-menu
{
  margin-top: 10px;
}
#messages_compose #compose-menu a
{
  font-size: .8em;
  padding-top: 1px;
  padding-bottom: 2px;
}
#messages_compose .compose-menu
{
  margin-top: 0px;
}
#messages_compose #compose-menu .buttonlink
{
  margin-right: 15px;
}
html[dir="rtl"] #messages_compose #compose-menu .buttonlink
{
  margin-right: 0px;
  margin-left: 15px;
}



/*
MESSAGES AUTOSUGGEST
Used to style the autosuggest pulldown
shown when you are entering a recipient
on the compose message page.
*/
ul.message-autosuggest
{
  position: absolute;
  padding: 0px;
  width: 300px;
  list-style: none;
  z-index: 50;
  border: 1px solid $theme_border_dark_color;
  margin: 0px;
  list-style: none;
  cursor: pointer;
  white-space: nowrap;
  background: $theme_body_background_color;
}
ul.message-autosuggest > li
{
  padding: 3px;
  overflow: hidden;
}
ul.message-autosuggest > li + li
{
  border-top-width: 1px;
}
ul.message-autosuggest > li img
{
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  margin-right: 5px;
}
html[dir="rtl"] ul.message-autosuggest > li img
{
  float: right;
  margin-right: 0px;
  margin-left: 5px;
}
ul.message-autosuggest > li.autocompleter-selected
{
  background-color: $theme_list_background_color;
}
ul.message-autosuggest > li.autocompleter-choices
{
  font-size: .8em;
}
ul.message-autosuggest > li.autocompleter-choices .autocompleter-choice
{
  line-height: 25px;
}
ul.message-autosuggest > li:hover
{
  background-color: $theme_list_background_color_hover;
}
ul.message-autosuggest > li span.autocompleter-queried
{
  font-weight: bold;
}
ul.message-autosuggest .search-working
{
  background-image: none;
}
ul.message-autosuggest .friendlist
{
  background-image: url(~/application/modules/User/externals/images/friends/list.png);
  background-repeat: no-repeat;
  padding-left: 28px;
  background-position: 5px center;
}
html[dir="rtl"] ul.message-autosuggest .friendlist
{
  background-position: 99% 50%;
  padding-left: 0px;
  padding-right: 28px;
}
#messages_compose #toValues-wrapper
{
  height: 0px;
}
#messages_compose #toValues-element
{
  width: 400px;
}




/*
TAGS FOR MESSAGE RECIPIENTS
*/
.tag.tag_friend
{
  background-image: url(~/application/modules/User/externals/images/friends/list.png);
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 4px center;
}







/* NOTIFICATION TYPE ICONS */
.notification_type_message_new
{
  background-image: url(~/application/modules/Messages/externals/images/send.png);
}