
/* $Id: main.css 7533 2010-10-02 09:42:49Z john $ */


@include "~/application/modules/Core/externals/styles/constants.css";



/*
COMPOSE BLOG ENTRY
Styles the compose blog entry form.
*/
#blogs_create div.form-label
{
  float: none;
  text-align: left;
  margin: 0px;
  padding: 0px 0px 5px 0px;
}
html[dir="rtl"] #blogs_create div.form-label
{
  text-align: right;
}
#blogs_create div.form-element
{
  float: none;
}






/*
BROWSE BLOGS
Styles the browse blogs page and the
manage blog entries page.
*/
ul.blogs_browse
{
  clear: both;
}
ul.blogs_browse > li
{
  clear: both;
  padding: 0px 0px 15px 0px;
}
ul.blogs_browse > li + li
{
  border-top-width: 1px;
  padding-top: 15px;
}
ul.blogs_browse > li .blogs_browse_photo
{
  float: left;
  overflow: hidden;
  margin-right: 8px;
}
html[dir="rtl"] ul.blogs_browse > li .blogs_browse_photo
{
  float: right;
  margin-right: 0px;
  margin-left: 8px;
}
ul.blogs_browse > li .blogs_browse_options
{
  float: right;
  overflow: hidden;
  padding-left: 20px;
}
html[dir="rtl"] ul.blogs_browse > li .blogs_browse_options
{
  float: left;
  padding-left: 0px;
  padding-right: 20px;
}
ul.blogs_browse > li .blogs_browse_options > a
{
  clear: both;
  display: block;
  margin: 5px;
  font-size: .8em;
  padding-top: 2px;
  padding-bottom: 2px;
}
ul.blogs_browse > li .blogs_browse_info
{
  overflow: hidden;
}
ul.blogs_browse > li .blogs_browse_info_title
{
  font-weight: bold;
}
ul.blogs_browse > li .blogs_browse_info_date
{
  font-size: .8em;
  color: $theme_font_color_light;
}
ul.blogs_browse > li .blogs_browse_info_blurb
{
  margin-top: 5px;
}



/*
VIEW BLOG
Styles both the 'view blog' and the 'view blog entry'
pages, including the right-side gutter column by default.
*/
ul.blogs_entrylist
{
  margin-top: 10px;
  border-top-width: 1px;
  padding-top: 10px;
}
ul.blogs_entrylist > li
{
  padding-bottom: 10px;
  border-bottom-width: 1px;
  margin-bottom: 10px
}
ul.blogs_entrylist h3
{
  margin-bottom: 1px;
}
ul.blogs_entrylist .blog_entrylist_entry_date
{
  font-size: 8pt;
  margin-bottom: 5px;
  color: $theme_font_color_light;
}
ul.blogs_entrylist .blog_entrylist_entry_body
{
  line-height: 1.5em;
  padding: 5px 5px 5px 0px;
}
ul.blogs_entrylist .blog_entrylist_entry_body img
{
  max-width: 100%;
}
ul.blogs_entrylist .blog_entrylist_entry_body + .buttonlink
{
  margin-top: 5px;
}
ul.blogs_entrylist + .comments
{
  padding-top: 10px;
}
div.blogs_gutter .blogs_gutter_photo > img
{
  width: 98%;
  display: block;
}
div.blogs_gutter .blogs_gutter_name
{
  display: block;
  font-weight: bold;
  margin: 3px 0px 15px 0px;
}
div.blogs_gutter .buttonlink
{
  padding-top: 2px;
  padding-bottom: 1px;
}
div.blogs_gutter h4
{
  margin: 20px 0px 5px 0px;
  text-transform: uppercase;
}
div.blogs_gutter > ul > li
{
  margin-bottom: 2px;
}
div.blogs_gutter ul.blogs_gutter_options > li
{
  font-size: .8em;
  margin: 3px 0px 3px 0px;
}




/* ACTION TYPE ICONS */
.activity_icon_comment_blog
{
  background-image: url(~/application/modules/Core/externals/images/types/post.png);
}




/* ITEM TYPE ICONS */
.item_icon_blog,
.item_icon_blog_entry
{
  background-image: url(~/application/modules/Blog/externals/images/types/blog.png);
}




/* ICONS */
.icon_blog_new
{
  background-image: url(~/application/modules/Blog/externals/images/new.png);
}
.icon_blog_edit
{
  background-image: url(~/application/modules/Blog/externals/images/edit.png);
}
.icon_blog_delete
{
  background-image: url(~/application/modules/Blog/externals/images/delete.png);
}
.icon_blog_style
{
  background-image: url(~/application/modules/Blog/externals/images/blog_style.png);
}
.icon_blog_viewall
{
  background-image: url(~/application/modules/Blog/externals/images/allentries.png);
}